{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

    <div class="row">
        <div class="card mx-auto">
            <div class="card-header text-center">{% trans "Sign In" %}</div>
            <div class="card-body">
                {% if socialaccount_providers %}
                <p>Please sign in with one
                of your existing third party accounts:</p>

                <div class="socialaccount_ballot">

                {% include "socialaccount/snippets/provider_list.html" with process="login" %}

                <div class="login-or"> Or, <a href="{{ signup_url }}">sign up</a>
                for a {{ site_name }} account and sign in below:</p></div>

                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label col-form-label" for="id_login">Username</label>
                        <input type="text" name="login" placeholder="Username" autofocus="autofocus" maxlength="150" class="form-control" title="" required id="id_login">
                    </div>
                    <div class="mb-3">
                        <label class="form-label col-form-label" for="id_password">Password</label>
                        <input type="password" name="password" placeholder="Password" class="form-control" title="" required id="id_password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" name="remember" class="form-check-input" id="id_remember">
                        <label class="form-check-label" for="id_remember">Remember Me</label>
                    </div>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button type="submit" class="btn btn-primary mb-2">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
