{% extends "CIResults/base.html" %}
{% block title %}
    Issue
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header">{{ issue_title }}</div>
        <div class="card-body">
            <form id="issueForm"
                  action="{{ save_url }}"
                  method="post"
                  data-disable-on-submit="Saving...">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-3">
                        <label for="bugsFields">Bugs</label>
                        <table id="bugsFields"
                               class="table table-hover table-bordered"
                               data-row-next-id="{{ field_bugs|length }}">
                            <thead>
                                <tr>
                                    <th>Bug ID</th>
                                    <th>Bug tracker</th>
                                    <th>
                                        <button type="button"
                                                id="bugs_add_row"
                                                class="btn btn-sm btn-secondary float-end"
                                                title="Add a new row">
                                            <i class="bi bi-plus"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fb in field_bugs %}
                                    <tr>
                                        <td>
                                            <div class="{% if not fb.bug_valid %}has-error has-feedback{% endif %}">
                                                <input type="text"
                                                       name='bug_id_{{ forloop.counter0 }}'
                                                       placeholder='Bug ID'
                                                       class="form-control"
                                                       value="{{ fb.bug_id }}"
                                                       aria-describedby="bug_id_{{ forloop.counter0 }})_status" />
                                                {% if not fb.bug_valid %}
                                                    <i class="bi bi-x form-control-feedback"></i>
                                                    <span id="bug_id_{{ forloop.counter0 }})_status" class="visually-hidden">(error)</span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="{% if not fb.tracker_valid %}
                                                            has-error has-feedback
                                                        {% endif %}">
                                                <select name='bug_tracker_{{ forloop.counter0 }}'
                                                        class="form-select"
                                                        aria-describedby="bug_tracker_{{ forloop.counter0 }}_status"
                                                        required>
                                                    <option hidden>Select a bug tracker</option>
                                                    {% for tracker in trackers %}
                                                        <option value="{{ tracker.id }}"
                                                                {% if tracker.id == fb.tracker_id %}selected{% endif %}>{{ tracker.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                {% if not fb.tracker_valid %}
                                                    <i class="bi bi-x form-control-feedback"></i>
                                                    <span id="bug_tracker_{{ forloop.counter0 }}_status"
                                                          class="visually-hidden">(error)</span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button"
                                                    data-remove-row
                                                    class="btn btn-sm btn-secondary float-end"
                                                    title="Remove this row">
                                                <i class="bi bi-x"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Allow dynamically adding new rows -->
                        <script>
                            const trackers_options_list_html = '<option hidden>Select a bug tracker</option>{% for tracker in trackers %}<option value="{{tracker.id}}" {% if tracker.id == fb.tracker_id %}selected{% endif %}>{{tracker.name}}</option>{% endfor %}';
                            $(document).ready(function(){
                                $("#bugs_add_row").click(function(){
                                    // Create a new line
                                    let row = table_add_row("#bugsFields")
                                    let id = row.data('id')
                                    row.html("<td><input type='text' name='bug_id_"+id+"' placeholder='Bug ID' class='form-control' /></td>\
                                    <td><select name='bug_tracker_"+id+"' class='form-select' required></select></td>\
                                    <td><button type='button' data-remove-row class='btn btn-sm btn-secondary float-end' title='Remove this row'>\
                                    <i class='bi bi-x'></i></button></td>")

                                    let select = $('select[name=bug_tracker_'+id+']')
                                    select.html(trackers_options_list_html)

                                    // Make sure the new row's buttons work
                                    handleRemoveRow();
                                    handleEditFilter();
                                });
                            });
                        </script>
                    </div>
                    <div class="col-lg-6">
                        <label for="filterFields">Filters</label>
                        <table id="filterFields"
                               class="table table-hover table-bordered"
                               data-row-next-id="{{ field_filters|length }}">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Description</th>
                                    <th>
                                        <button type="button"
                                                class="btn btn-sm btn-secondary float-end me-2"
                                                id="filter_add_existing"
                                                title="Import existing filter">
                                            <i class="bi bi-save2"></i>
                                        </button>
                                        <button type="button"
                                                class="btn btn-sm btn-secondary float-end me-2"
                                                id="filter_add_new"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modalFilter"
                                                title="Create new filter">
                                            <i class="bi bi-plus"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if field_filters|length > 0 %}
                                    {% for ff in field_filters %}
                                        {% for filter in filters %}
                                            {% if filter.id == ff.id %}
                                                <tr>
                                                    <td id="selected-filter-{{ filter.id }}">{{ filter.id }}</td>
                                                    <input type="hidden" name="filter_{{ filter.id }}" value="{{ filter.id }}" />
                                                    <td>{{ filter.description }}</td>
                                                    <td>
                                                        <button type="button"
                                                                data-remove-row
                                                                class="btn btn-sm btn-secondary float-end me-2"
                                                                title="Remove this row">
                                                            <i class="bi bi-x"></i>
                                                        </button>
                                                        <button type="button"
                                                                data-edit-filter
                                                                class="btn btn-sm btn-secondary float-end me-2"
                                                                title="Create copy and edit this filter">
                                                            <i class="bi bi-pencil"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3" class="text-muted text-center">No filters used</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <script>
                            const createSelectedFilterRowStr = (filter) => {
                              return `<td id="selected-filter-${filter.id}">${filter.id}</td><input type="hidden" name="filter_${filter.id}" value="${filter.id}" />
                                      <td>${filter.description}</td>
                                      <td>
                                        <button type='button' data-remove-row class='btn btn-sm btn-secondary float-end me-2' title='Remove this row'><i class='bi bi-x'></i></button>
                                        <button type='button' data-edit-filter class='btn btn-sm btn-secondary float-end me-2' title='Create copy and edit this filter'><i class='bi bi-pencil'></i></button>
                                      </td>`
                            }

                            function table_filter_add(filter) {
                                row = table_add_row("#filterFields")
                                row.html(createSelectedFilterRowStr(filter))

                                // Make sure the new row's buttons works
                                handleRemoveRow();
                                handleEditFilter();
                            }

                            function filter_edit_done(filter) {
                                // Hide the modal window before adding the filter
                                $('#modalFilter').modal('hide');
                            }


                            $(window).on('issue-add-filter', function (event, filter) {
                                filter_edit_done(filter);
                                // Add the new filter
                                table_filter_add(filter)
                            });

                            $(window).on('issue-replace-filter', function (event, params) {
                                filter_edit_done(params.new_filter);

                                // Find the old filter, then change it to the new one's
                                const selectedFilter = document.getElementById(`selected-filter-${params.old_filter_id}`).parentNode
                                selectedFilter.innerHTML = createSelectedFilterRowStr(params.new_filter)
                                handleRemoveRow();
                                handleEditFilter();
                            });

                            $("#filter_add_existing").click(function(){
                                getFilters()
                                const chooseFilterModal = new bootstrap.Modal("#choose-filter-modal")
                                chooseFilterModal.show()
                            });

                            $("[data-edit-filter]").click(function(click){
                                // is it even needed?
                                const filterId = click.target.parentNode.closest("tr").getElementsByTagName("td")[0].innerHTML
                                $(window).trigger('issue-edit-filter', filterId);
                            });
                        </script>
                    </div>
                    <div class="col-lg-3">
                        <label for="descriptionField">Description (optional)</label>
                        <textarea class="form-control"
                                  id="descriptionField"
                                  rows="2"
                                  placeholder="Additional information about the filing"
                                  name="description">{{field_description}}</textarea>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-6">
                        <a class="btn btn-danger float-left" href="{% url 'CIResults-index' %}">Cancel</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary float-end" id="issue_save">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="modalFilter" class="modal">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create new filter</h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-hidden="true"></button>
                </div>
                <div class="modal-body small" name="filterData">
                    <!-- Display none parameters to either create a new or edit a filter -->
                    <div class="d-none">
                        <input name="edit_filter" type="number">
                        <input name="edit_issue" type="number" value="{{ issue_id }}">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="filter_desc" class="visually-hidden">Short description</label>
                            <div class="input-group">
                                <span class="input-group-text" id="description-addon">Short description</span>
                                <input type="text"
                                       class="form-control"
                                       aria-describedby="description-addon"
                                       name="description"
                                       placeholder="Short description of what the filter does (up to 255 characters)"
                                       maxlength="255">
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">Select the tests</div>
                                <div class="card-body">
                                    <select multiple="multiple"
                                            data-dual-list-box
                                            name="tests"
                                            data-refresh-stats
                                            aria-describedby="filter_tests_help">
                                        {% for test in tests %}
                                            <option value={{ test.id }}>{{ test }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <small id="filter_tests_help" class="text-muted">Leave empty to select all the tests</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">Select the tags</div>
                                <div class="card-body">
                                    <select multiple="multiple"
                                            data-dual-list-box
                                            name="tags"
                                            data-refresh-stats
                                            aria-describedby="filter_tags_help">
                                        {% for tag in tags %}
                                            <option value={{ tag.id }}>{{ tag }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <small id="filter_tags_help" class="text-muted">Leave empty to select all the tags</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">Select the machines</div>
                                <div class="card-body">
                                    <select multiple="multiple"
                                            data-dual-list-box
                                            name="machines"
                                            data-refresh-stats
                                            aria-describedby="filter_machines_help">
                                        {% for tag in machine_tags %}<option value='t{{ tag.id }}'>Tag: {{ tag }}</option>{% endfor %}
                                        {% for machine in machines %}<option value='m{{ machine.id }}'>{{ machine }}</option>{% endfor %}
                                    </select>
                                    <small id="filter_machines_help" class="text-muted">Leave empty to select all the machines</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">Select the statuses</div>
                                <div class="card-body">
                                    <select multiple="multiple"
                                            data-dual-list-box
                                            name="statuses"
                                            data-refresh-stats
                                            aria-describedby="filter_statuses_help">
                                        {% for status in statuses %}
                                            <option value={{ status.id }}>{{ status }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <small id="filter_statuses_help" class="text-muted">Leave empty to select all the statuses</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="filter_stdout_regex" class="visually-hidden">Stdout regex</label>
                            <div class="input-group">
                                <span class="input-group-text" id="filter_stdout_regex-addon">Stdout regex</span>
                                <input type="text"
                                       class="form-control"
                                       aria-describedby="filter_stdout_regex-addon"
                                       name="stdout_regex"
                                       data-refresh-stats
                                       placeholder="Regular expression that needs to be matched on the test's standard output. Leave empty to ignore.">
                                <div id="stdout_regex-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-md-12">
                            <label for="stderr_regex" class="visually-hidden">Stderr regex</label>
                            <div class="input-group">
                                <span class="input-group-text" id="stderr_regex-addon">Stderr regex</span>
                                <input type="text"
                                       class="form-control"
                                       aria-describedby="stderr_regex-addon"
                                       name="stderr_regex"
                                       data-refresh-stats
                                       placeholder="Regular expression that needs to be matched on the test's standard error output. Leave empty to ignore.">
                                <div id="stderr_regex-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-md-12">
                            <label for="filter_dmesg_regex" class="visually-hidden">Dmesg regex</label>
                            <div class="input-group">
                                <span class="input-group-text" id="dmesg_regex-addon">Dmesg regex</span>
                                <input type="text"
                                       class="form-control"
                                       aria-describedby="filter_dmesg_regex-addon"
                                       name="dmesg_regex"
                                       data-refresh-stats
                                       placeholder="Regular expression that needs to be matched on the kernel logs. Leave empty to ignore.">
                                <div id="dmesg_regex-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div>
                            <button id="convert-to-user-query" class="btn btn-outline-primary">Convert filter to user query</button>
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div>
                            <input type="text"
                                   id="userFilteringQuery"
                                   name="user_query"
                                   data-refresh-stats>
                        </input>
                        <div id="user_query-feedback" class="invalid-feedback d-block"></div>
                        {% include "CIResults/basic/cibuglog_query_input.html" with filters_model=filters_model %}
                        <script>
                            var textarea = document.getElementById("userFilteringQuery");
                            var cm = CodeMirror.fromTextArea(textarea, {
                                mode: "cibuglog-query",
                                lineNumbers: true,
                                matchBrackets: true,
                                lineWrapping: true,
                                extraKeys: {
                                    "Ctrl-Space": "autocomplete",
                                },
                            });

                            cm.on("keyup", function (cm, event) {
                                if (!cm.state.completionActive) {
                                    CodeMirror.commands.autocomplete(cm, null, {
                                        completeSingle: false,
                                    });
                                }
                                scheduleUpdateStats()
                            });
                            cm.on("focus", function (cm, event) {
                                if (!cm.state.completionActive) {
                                    CodeMirror.commands.autocomplete(cm, null, {
                                        completeSingle: false,
                                    });
                                }
                            });
                        </script>
                    </div>
                </div>
                <div class="row d-none" data-error-box="modal">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            <i class="bi bi-exclamation-circle"
                               aria-hidden="true"
                               style="vertical-align:middle"></i>
                            <span class="visually-hidden">Error:</span>
                            <span data-error-box-text="modal">No errors</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex">
                <div class="flex-grow-1">
                    <div class="spinner-border spinner-border-sm" id="stats-spinner"></div>
                    <span id="stats-display">Loading stats...</span>
                </div>
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-refresh-stats="modal">Check</button>
                <button type="button" class="btn btn-primary" data-save="modal">Create</button>
            </div>
        </div>
        <script>
                var stats = null;

                /* For django */
                $.ajaxSetup({beforeSend: function(xhr, settings){
                    xhr.setRequestHeader('X-CSRFToken',
                                            '{{ csrf_token }}');
                }});

                function filterFields() {
                    fields = Array()
                    $('[name="filterData"]').find('[name]').each(function () {
                        if ($(this).attr('id') != "")
                            fields.push($(this))
                    });
                    return fields;
                };

                const getSelectValues = (name) => {
                  const select = document.querySelectorAll(`select[name="${name}"]`)[0]
                  return Array.from(select.querySelectorAll("option:checked"), e => e.value)
                }

                const getInputValue = (name) => {
                  return document.querySelectorAll(`input[name=${name}]`)[0].value
                }

                const setInputValue = (name, value) => {
                  document.querySelectorAll(`input[name="${name}"]`)[0].value = value
                }

                const resetAllSelections = () => {
                  ["tests", "tags", "statuses", "machines"].forEach(selectName => {
                    setSelections(selectName, [])
                  });
                  ["stdout_regex", "stderr_regex", "dmesg_regex", "description"].forEach(inputName => {
                    setInputValue(inputName, "")
                  });
                }

                function resetFields() {
                    $('[data-error-box="modal"]').addClass('d-none');
                    resetAllSelections()
                    cm.setValue("")

                    $('[class=modal-title]').html("Create new filter")
                    $('[name="edit_filter"]').val("")
                    $('[data-save]').attr('disabled', false)
                    $('[data-save]').html("Create")
                    setTimeout(() => cm.refresh(), 1000)
                }

                const getMachinesValues = () => {
                  const values = {
                    "machines": [],
                    "machine_tags": []
                  }
                  getSelectValues("machines").forEach(value => {
                    if (value[0] == "t") {
                      values["machine_tags"].push(parseInt(value.substring(1)))
                    } else {
                      values["machines"].push(parseInt(value.substring(1)))
                    }
                  })
                  return values
                }

                const createMachinesValues = (values) => {

                }

                function filter_req() {
                    const req = {
                      "tests": getSelectValues("tests").map(val => parseInt(val)),
                      "tags": getSelectValues("tags").map(val => parseInt(val)),
                      "statuses": getSelectValues("statuses").map(val => parseInt(val)),
                      "stdout_regex": getInputValue("stdout_regex"),
                      "stderr_regex": getInputValue("stderr_regex"),
                      "dmesg_regex": getInputValue("dmesg_regex"),
                      "description": getInputValue("description"),
                      "edit_filter": getInputValue("edit_filter"),
                      "edit_issue": getInputValue("edit_issue"),
                      ...getMachinesValues(),
                      "user_query": cm.getValue(),
                    };
                    return req;
                }

                const includes = (array, value) => {
                  for (let i = 0; i < array.length; i++) {
                    if (array[i] == value) {
                      return true
                    }
                  }
                  return false
                }

                const setSelections = (name, values) => {
                  const select = document.querySelectorAll(`select[name="${name}"]`)[0]
                  for (let i = 0; i < select.options.length; i++) {
                    const option = select.options[i]
                    option.selected = includes(values, option.value)
                  }
                  select.dualListbox.reset()
                }

                const applyFilter = () => {
                  const filter = stats.matched
                  setSelections("tests", filter["tests"].map(obj => obj[0].toString()))
                  setSelections("tags", filter["tags"].map(obj => obj[0].toString()))
                  setSelections("statuses", filter["statuses"].map(obj => obj[0].toString()))
                  setSelections("machines", [
                    ...filter["machine_tags"].map(obj => `t${obj[0]}`),
                    ...filter["tagless_machines"].map(obj => `m${obj[0]}`)
                  ])
                }

                function show_errors(errors) {
                    // reset the previous errors
                    fields = filterFields();
                    for (f in fields) {
                        field = fields[f]

                        feedbackObj = document.getElementById(`${field[0].name}-feedback`)
                        if (feedbackObj) {
                            feedbackObj.innerHTML = ""
                        }

                        field.removeClass("is-invalid")
                    }

                    // set the new errors
                    for (e in errors) {
                        error = stats.errors[e];
                        feedbackObj = document.getElementById(`${error.field}-feedback`)
                        feedbackObj.innerHTML = error.msg
                        feedbackObj.classList.add("invalid-feedback")

                        field = $('[name="' + error.field + '"')
                        field.addClass("is-invalid")
                    }
                }

                function is_edit_mode() {
                    edit_filter_id = $('[name="edit_filter"]').val()
                    return edit_filter_id != null && edit_filter_id != "" && !isNaN(edit_filter_id)
                }

                const statsSpinner = document.getElementById("stats-spinner")
                const statsDisplay = document.getElementById("stats-display")

                function setStatsInfo(info, spinner = false) {
                    if (spinner) {
                        statsSpinner.classList.remove("d-none")
                    } else {
                        statsSpinner.classList.add("d-none")
                    }
                    statsDisplay.innerHTML = info
                }

                let scheduleUpdateStatsTimer;
                const scheduleUpdateStats = () => {
                  setStatsInfo("Waiting for changes...", true)
                  clearTimeout(scheduleUpdateStatsTimer)
                  scheduleUpdateStatsTimer = setTimeout(update_stats, 2000);
                }

                let updateStatsAbortController = null;
                async function update_stats() {
                    if (updateStatsAbortController) updateStatsAbortController.abort();
                    updateStatsAbortController = new AbortController();
                    setStatsInfo("Loading...", true)

                    try {
                      const response = await fetch("{% url 'CIResults-issuefilter' 'stats' %}", {
                        method: "POST",
                        headers: new Headers({
                          "X-CSRFToken": "{{ csrf_token }}"
                        }),
                        body: JSON.stringify(filter_req()),
                        dataType: "json",
                        contentType: "application/json",
                        signal: updateStatsAbortController.signal,
                      });

                      if (!response.ok) {
                        setStatsInfo("Unexpected server error")
                        console.error("Unexpected server error", response)
                        return
                      }
                      updateStatsAbortController = null;

                      stats = await response.json();

                      msg = "Matches {failures_count}/{failures_total} unknown failures: <a title='{tags}'>{tag_count} tag(s)</a>, <a title='{machines}'>{machine_count} machine(s)</a>, <a title='{machine_tags}'>{machine_tag_count} machine tag(s)</a>, <a title='{tests}'>{tests_count} test(s)</a>, and <a title='{statuses}'>{status_count} status(es)</a> <button type='button' class='btn btn-sm btn-secondary m-0' data-apply-filter>Apply filter</button>"
                      msg = msg.replace("{failures_count}", stats.matched.failure_count)
                      msg = msg.replace("{failures_total}", stats.matched.failure_total)
                      msg = msg.replace("{tag_count}", stats.matched.tags.length)
                      msg = msg.replace("{tags}", stats.matched.tags.map(x => x[1]).join(',\n'))
                      msg = msg.replace("{machine_count}", stats.matched.machines.length)
                      msg = msg.replace("{machines}", stats.matched.machines.map(x => x[1]).join(',\n'))
                      msg = msg.replace("{machine_tag_count}", stats.matched.machine_tags.length)
                      msg = msg.replace("{machine_tags}", stats.matched.machine_tags.map(x => x[1]).join(',\n'))
                      msg = msg.replace("{tests_count}", stats.matched.tests.length)
                      msg = msg.replace("{tests}", stats.matched.tests.map(x => x[1]).join(',\n'))
                      msg = msg.replace("{status_count}", stats.matched.statuses.length)
                      msg = msg.replace("{statuses}", stats.matched.statuses.map(x => x[1]).join(',\n'))

                      setStatsInfo(msg, false)

                      /* Show the error messages */
                      show_errors(stats.errors);

                      /* Set-up apply filter */
                      $('[data-apply-filter]').on('click', applyFilter)

                    } catch(error) {
                      console.error("Stats error: ", error)
                    }
                }

                /* All the actions that should update the statistics */
                $("input[data-refresh-stats]").on("input", scheduleUpdateStats);
                $("select[data-refresh-stats]").on('change', scheduleUpdateStats)
                $('[data-refresh-stats="modal"]').on('click', update_stats)

                /* Actions to do when clicking on the dismiss button */
                $('[data-bs-dismiss="modal"]').on('click', resetFields)

                function arrayToHTMLStringList(array) {
                  listString = "<ul>"
                  array.forEach(item => {
                      listString += `<li>${item}</li>`
                  })
                  return listString += "</ul>"
                }

                /* Actions to do when clicking on the save button */
                $('[data-save="modal"]').click(function() {
                    f_req = filter_req();
                    const suggestions = []
                    if (f_req.tests.length == 0) {
                        suggestions.push("Select the list of affected tests")
                    }
                    if (f_req.machines.length == 0 && f_req.machine_tags.length == 0) {
                        suggestions.push("Select the list of affected machines or machine tags")
                    }
                    if (f_req.stdout_regex.length == 0 && f_req.stderr_regex.length == 0 && f_req.dmesg_regex.length == 0) {
                        suggestions.push("Use regular expression on stdout/stderr/dmesg to better identify the issue")
                    }
                    if (suggestions.length > 0) {
                        const msg = "Your filter does not appear to follow the best filter-filling practices and may be considered too broad. Please consider the following improvements:"
                        showModal({title: "WARNING: Your filter may be too broad", size: "lg", content: msg + arrayToHTMLStringList(suggestions), buttons: [
                            {label: "Save anyway", callback: () => saveFilter(f_req)},
                            {label: "Go back to editing", style: "primary"}]})
                        return false
                    }
                    saveFilter(f_req);
                    return false
                });

                function saveFilter(f_req) {

                    $('[data-save]').attr('disabled', true)

                    if (is_edit_mode())
                        $('[data-save]').html("Editing...")
                    else
                        $('[data-save]').html("Creating...")

                    /* Make a POST request to create the filter */
                    req = $.ajax({
                                    url: "{% url 'api:issuefilter-list' %}",
                                    method: "POST",
                                    data: JSON.stringify(f_req),
                                    dataType: 'json',
                                    contentType: 'application/json'
                                 });


                    /* On success */
                    req.done(function(data, textStatus, jqXHR) {
                        // Send an event with the new object we got
                        var filter = JSON.parse(jqXHR.responseText);

                        if (f_req.edit_filter.length > 0) {
                            params = {
                                "old_filter_id": parseInt(f_req.edit_filter),
                                "new_filter": filter
                            };
                            $(window).trigger('issue-replace-filter', params);
                        } else {
                            $(window).trigger('issue-add-filter', filter);
                        }

                        resetFields();
                    });

                    /* On error */
                    req.fail(function(jqXHR, textStatus, errorThrown ) {
                        /* Set the error message, based on the errors
                         * reported by the POST call
                         */

                        if (jqXHR.status == 400) {
                            var errors =  JSON.parse(jqXHR.responseText);
                            $('[data-error-box-text="modal"]').html(errors.join("; "))
                        } else {
                            $('[data-error-box-text="modal"]').html("Error " + jqXHR.status + ". Description: " + jqXHR.statusText)
                        }

                        // Show the error message now
                        $('[data-error-box="modal"]').removeClass('d-none')

                        // re-enable the save button
                        $('[data-save]').attr('disabled', false)
                        if (is_edit_mode())
                            $('[data-save]').html("Edit")
                        else
                            $('[data-save]').html("Create")
                    });

                    return false;
                }

                /* Set up the modal window when asked to edit a filter */
                $(window).on('issue-edit-filter', function (event, filter_id) {
                    /* Fetch the wanted filter */
                    req = $.get("{% url 'api:issuefilter-list' %}" + filter_id);

                    /* On success */
                    req.done(function(data, textStatus, jqXHR) {
                        /* Decode the filter */
                        const filter = JSON.parse(jqXHR.responseText);
                        setSelections("tests", filter["tests"].map(obj => obj.id.toString()))
                        setSelections("tags", filter["tags"].map(obj => obj.id.toString()))
                        setSelections("statuses", filter["statuses"].map(obj => obj.id.toString()))
                        setInputValue("stdout_regex", filter["stdout_regex"])
                        setInputValue("stderr_regex", filter["stderr_regex"])
                        setInputValue("dmesg_regex", filter["dmesg_regex"])
                        setInputValue("description", filter["description"])
                        setSelections("machines", [
                          ...filter["machine_tags"].map(obj => `t${obj.id}`),
                          ...filter["machines"].map(obj => `m${obj.id}`)
                        ])
                        cm.setValue(filter["user_query"] || "")

                        /* Show the modal */
                        $('[class=modal-title]').html("Edit filter")
                        $('[name="edit_filter"]').val(filter.id)
                        $('[data-save]').html("Edit")
                        $('#modalFilter').modal('show');
                        setTimeout(() => cm.refresh(), 1000)
                    });

                    /* On error */
                    req.fail(function(jqXHR, textStatus, errorThrown ) {
                        msg = "<p>Error while retrieving the filter ID "+ filter_id +":</p>"
                        msg += "<p>" + jqXHR.responseText + "</p>"
                        showModal({title: "Error", content: msg});
                    });
                });
        </script>
    </div>
</div>
<div id="choose-filter-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Use existing filter</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input id="filter-description-input"
                           type="test"
                           class="form-control"
                           placeholder="Filter description">
                    <button id="search-filters-btn" class="btn btn-primary" type="button">Search</button>
                </div>
                <table id="filters-table" class="table table-striped table-bordered mt-3">
                </table>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script>
      const getFilters = () => {
        description = document.getElementById("filter-description-input").value
        const url = `{% url 'CIResults:issuefilter-list' %}?description=${description}&format=json`
        fetch(url).then(res => {
          return res.json()
        }).then(data => {
          if (data["results"]) {
            const filtersTable = document.getElementById("filters-table")
            const filtersTableBody = document.createElement("tbody")
            for (let i = 0; i < data["results"].length; i++) {
              const row = document.createElement("tr")
              const cell = document.createElement("td")
              const cellContent = document.createTextNode(`${data["results"][i]["description"]}`)
              const btnCell = document.createElement("td")
              const button = document.createElement("button")
              button.addEventListener("click", () => {
                table_filter_add(data["results"][i])
              })
              button.innerHTML = "Add"
              button.classList.add("btn", "btn-secondary", "btn-sm", "float-end")
              btnCell.appendChild(button)
              cell.appendChild(cellContent)
              row.appendChild(cell)
              row.appendChild(btnCell)
              filtersTableBody.appendChild(row)
            }
            filtersTable.innerHTML = ""
            filtersTable.appendChild(filtersTableBody)
          }
        })
      }
      document.getElementById("search-filters-btn").addEventListener("click", getFilters)

      const convertToUserQuery = () => {
        const url = `{% url 'CIResults-issuefilter' 'convert-to-user-query' %}`
        fetch(url, {
          method: "POST",
          headers: new Headers({
            'X-CSRFToken': '{{ csrf_token }}'
          }),
          body: JSON.stringify(filter_req()),
          dataType: 'json',
          contentType: 'application/json',
        }).then(res => {
          return res.json()
        }).then(data => {
          cm.setValue(data["userQuery"]);
          cm.refresh()
        })
      }
      document.getElementById("convert-to-user-query").addEventListener("click", convertToUserQuery)
</script>
{% endblock content %}
