{% extends "CIResults/knownfailure_list.html" %}
{% load helpers %}
{% block title %}
    Machine {{ machine }}'s history
{% endblock title %}
{% block information %}
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            Details about the machine {{ machine }}
            <div class="btn-group my-auto">
                {% if perms.CIResults.change_machine %}
                    <button type="button"
                            class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="bi bi-list"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-endight">
                        {% if perms.CIResults.change_machine %}
                            <a class="dropdown-item"
                               href="{% url 'CIResults-machine-edit' machine.id %}"><i class="bi bi-pencil"></i> Edit</a>
                        {% endif %}
                        {% if machine.vetted_on != None and perms.CIResults.suppress_machine %}
                            <button class="dropdown-item"
                                    onclick="sendPostActionRequestAndRefresh('{% url 'api:machine-suppress' machine.id %}');">
                                <i class="bi bi-hand-thumbs-up"></i> Suppress
                            </button>
                        {% elif machine.vetted_on == None and perms.CIResults.vet_machine %}
                            <button class="dropdown-item"
                                    onclick="sendPostActionRequestAndRefresh('{% url 'api:machine-vet' machine.id %}');">
                                <i class="bi bi-hand-thumbs-down"></i> Vet
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Public</td>
                        <td>{{ machine.public }}</td>
                    </tr>
                    <tr>
                        <td>First seen</td>
                        <td>{{ machine.added_on }}</td>
                    </tr>
                    <tr>
                        <td>Vetted On</td>
                        <td>{{ machine.vetted_on|default:"Not vetted yet" }}</td>
                    </tr>
                    <tr>
                        <td>Tags</td>
                        <td>{{ machine.tags.all|csl:"machine_tag:CIResults/basic/machine_tag.html" }}</td>
                    </tr>
                    {% if machine.aliases is not None %}
                        <tr>
                            <td>Parent machine</td>
                            <td>{% include "CIResults/basic/machine.html" with machine=machine.aliases %}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Children machines</td>
                        <td>{{ machine.machine_set.all|csl:"machine:CIResults/basic/machine.html" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>Associated failures</h2>
{% endblock information %}
