{% extends "CIResults/base.html" %}
{% block title %}
    Mass Test Renaming
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header bg-secondary text-white">
            Information about the renaming process (MUST-READ before doing any action)
        </div>
        <div class="card-body collapse show">
            This page allows you to mass rename tests:
            <ul>
                <li>Current tests will not be modified</li>
                <li>New tests will be created with the new name (if needed)</li>
                <li>New tests' public and vetted_on fields will be copied from their original test</li>
                <li>New tests will be added to the list of issues that were referencing the original test name</li>
                <li>
                    <strong>Please press the 'check' button before pressing 'Mass rename'</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white">Rename a test by replacing a sub-string</div>
        <div class="card-body collapse show">
            <div class="container-fluid">
                <form class="search_bar" method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit"
                            class="btn btn-primary mb-2"
                            name="action"
                            value="check">Check</button>
                    <button type="submit"
                            class="btn btn-danger mb-2"
                            name="action"
                            value="rename">Mass rename</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white">Tests that would be renamed ({{ form.affected_tests|length }})</div>
        <div class="card-body collapse show">
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                        <tr>
                            <th>Current test name</th>
                            <th>New test name</th>
                            <th>Affected filters</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test, new_name in form.affected_tests.items %}
                            <tr>
                                <td>{% include "CIResults/basic/test.html" with test=test %}</td>
                                <td>{{ new_name }}</td>
                                <td>
                                    <ul>
                                        {% for ifa in test.in_active_ifas %}
                                            <li>{% include "CIResults/basic/ifa.html" with ifa=ifa %}</li>
                                        {% empty %}
                                            <li>None</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">No tests would be renamed</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
