{% extends "CIResults/base.html" %}
{% block title %}
    Test List
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white">
            Tests list (
            {% if page_obj is not None %}
                {{ page_obj.paginator.count }}
            {% else %}
                {{ object_list|length }}
            {% endif %}
            )
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered table-sm sortable global-filtrable">
                    <thead class="align-top">
                        <tr>
                            <th data-filtrable-name="name">Test name</th>
                            <th data-filtrable-name="added_on" class="filtrable-date">Added on</th>
                            <th data-filtrable-name="first_runconfig">First runconfig</th>
                            <th data-filtrable-name="vetted_on" class="filtrable-date">Vetted on</th>
                            <th class="sorttable_nosort filtrable-nofilter">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in object_list %}
                            <tr>
                                <td>{% include "CIResults/basic/test.html" with test=test %}</td>
                                <td data-sorttable-customkey="{{ test.added_on|date:'U' }}">{{ test.added_on }}</td>
                                <td>{% include "CIResults/basic/runconfig_lite.html" with runconfig=test.first_runconfig %}</td>
                                <td data-sorttable-customkey="{{ test.vetted_on|date:'U' }}">{{ test.vetted_on }}</td>
                                <td>
                                    {% if perms.CIResults.change_test %}
                                        <a href="{% url 'CIResults-test-edit' test.id %}"
                                           class="btn btn-primary btn-sm">Edit</a>
                                        <a href="{% url 'CIResults-test-rename' test.id %}"
                                           class="btn btn-warning btn-sm">Rename</a>
                                    {% endif %}
                                    <a href="{% url 'CIResults-test-detail' test.id %}"
                                       class="btn btn-secondary btn-sm">History</a>
                                    {% if test.vetted_on != None and perms.CIResults.suppress_test %}
                                        <button onclick="sendPostActionRequestAndRefresh(`{% url 'api:test-suppress' test.id %}`);"
                                                class="btn btn-warning btn-sm"
                                                type="button">Suppress</button>
                                    {% elif test.vetted_on == None and perms.CIResults.vet_test %}
                                        <button onclick="sendPostActionRequestAndRefresh(`{% url 'api:test-vet' test.id %}`);"
                                                class="btn btn-warning btn-sm"
                                                type="button">Vet</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">No tests yet</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include "CIResults/basic/paginator.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
